<!--https://localhost:44379/HelloWorld/Welcome?name=Rick&numtimes=4-->
<!--
結果：
Hello Rick
Hello Rick
Hello Rick
Hello Rick
-->

@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome</h2>

<ul>
    @for (int i = 0; i < (int)ViewData["NumTimes"]; i++)
    {
        <li>@ViewData["Message"]</li>
    }
</ul>

